<div fxLayout="row" fxLayoutAlign="center center" >                                            
    <form>
        <mat-form-field appearance="legacy">
            <mat-label>Número de póliza</mat-label>
            <input type="number" matInput placeholder="Número de póliza" onKeyPress="if(this.value.length==10) return false;" required>
            <mat-icon matSuffix>book</mat-icon>                          
          </mat-form-field>
          <div>
              <button mat-raised-button color="primary" type="submit">Registrar</button>
          </div>                        
        </form> 
        
        


       
          
      </div>
    