<header>
  <div class="container-fluid">
    <img src="../../../assets/img/autos/auto.PNG" id="perro">    
  </div>

  <div class="auto" style="text-align: center">
    <h2>Con nuestras <strong style="color: green">coberturas y beneficios</strong><br>podrás estar tranquilo, tengas o no un accidente</h2>
  </div>
</header>

<div class="container" >    
  <img src="../../../assets/img/autos/choque.png" class="img-fluid">    
</div>

<h4 style="text-align: center"><strong>¿Eres de los que en verdad le importa su auto<br> y quieres beneficios extra?</strong><h1 style="color: green">Conoce nuestros Módulos</h1></h4><hr>
    
<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <img src="../../../assets/img/autos/auto1.jpg" class="img-fluid">
    </div>
  
    <div class="col-6">
      <br><br><br><br>
      <img src="../../../assets/img/autos/auto1_2.png"><strong style="font-size: 30px; color: green">Amante de los autos</strong> <br>
      <strong><h2><strong>¿Te encanta tener tu auto <br>en óptimas condiciones?</strong></h2></strong>
      <p style="text-align: left">Obtén encerado estético, reparación en agencia, <br>reposición de auto partes, entre otros beneficios</p>
    </div>
  </div>
</div>
  
  
<div class="container-fluid">
  <div class="row">
    <div class="col-6" style="text-align: right">
      <br><br><br><br>
      <img src="../../../assets/img/autos/auto2_2.png"><strong style="font-size: 30px; color: green">Auto Siempre</strong> <br>
      <strong><h2><strong>¿Siempre estás en movimiento?</strong></h2></strong>
      <p>Obtén auto sustituto, asistencia vial sin límites,<br>Check Up de seguridad, entre otros beneficios</p>            
    </div>
    
    <div class="col-6">
      <img src="../../../assets/img/autos/auto2.jpg" class="img-fluid">
    </div>
  </div>
</div>


<div class="auto" style="text-align: center; background-color: #F2F2F2">
  <h2>¿Ya eres cliente<strong style="color: rgb(109, 167, 109)"> HDI?</strong></h2>
  <a class="btn btn-success" href="#" role="button"><strong>Inicia sesión</strong></a><br><br>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-6" style="text-align: right">
      <br><br><br><br>
      <h2>¿Estás a punto de <br><strong style="font-size: 30px; color: green">comprar auto?</strong> <br></h2>
      <p>Nadie te ofrecerá tanto por menos, él merece<br>
                  conservar su valor desde que<br>
                  llega a tus manos, ¡Protégelo!<br>
    </div>
    
    <div class="col-6">
      <img src="../../../assets/img/autos/auto3.png" class="img-fluid">
    </div>
  </div>
</div>
      

<div class="auto" style="text-align: center; background-color: #F2F2F2">
  <h2>Aprovecha tu seguro <strong style="color: green">sin chocar</strong></h2>            
  <a class="btn btn-success" href="#" role="button"><strong>Contrátalo ahora</strong></a><br><br>
</div><br><br>