block content
link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css', rel='stylesheet')

// ---- Include the above in your HEAD tag --------
style
  include dashboard.css
  include registrodash.css
script
  include dashboard.js

.container
.login-page    
    .form
        img.img-responsive#login(src="/img/register/registerc.png")        
        form.register-form(action="/personal/registrar",method="POST")                  
            #izquierda
                input(name="name",type='text', placeholder='nombre',pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ ]*$", class="may" required) 
                //^[a-zA-Z ]*$
                span
                input(name="apellidopaterno",type='text', placeholder='apellido paterno', pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ ]*$", class="may", required)
                span
                input(name="apellidomaterno",type='text', placeholder='apellido materno' pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ ]*$", class="may",required)
                span
                input(name="edad",type='number', placeholder='edad', min="18",max="60",required)
                span 
                input(name="NSS",type='number', placeholder='NSS', pattern="([0-9]){11}",required)
                span                                   
            #derecha                 
                input(name="domicilio",type='text', placeholder='domicilio',pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ ]*$",class="may",required)
                span                                                                                           
                input(name="email",type='email', placeholder='Correo electronico', pattern="(([a-z_]+|[0-9]+)+([¡]*|[$]*|[.]*)*)+.([@]).([hotmail.com]|[gmail.com]|[outlook.com]|[live.com.mx])+",class="correo",required)
                span
                input(name="password",type='password', placeholder='password', pattern="/^(?=.[a-z])(?=.[A-Z])(?=.\d)(?=.[$@$!%?&])[A-Za-z\d$@$!%?&]{8,15}/;", required)                   
                span
                input(name="puesto",type='text', placeholder='Puesto' pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ ]*$", class="may",required)
                span
            button Register 