extends navbar.jade 
block navbar
block content
  .container
    .row
      // Carousel
      #carousel-example-generic.carousel.slide(data-ride='carousel')
        // Indicators
        ol.carousel-indicators
          li.active(data-target='#carousel-example-generic', data-slide-to='0')
          li(data-target='#carousel-example-generic', data-slide-to='1')
          li(data-target='#carousel-example-generic', data-slide-to='2')
          li(data-target='#carousel-example-generic', data-slide-to='3')
        // Wrapper for slides
        .carousel-inner
          .item.active
            img(src='/HDI/side1.png', alt='First slide')
            // Static Header
            .header-text.hidden-xs
              .col-md-12.text-center
                h2
                  span
                    | Welcome to 
                    strong LOREM IPSUM
                br
                h3
                  span Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                br
                div                  
                  a.btn.btn-theme.btn-sm.btn-min-block(href='#' style="background-color:green") Register
            // /header-text
          .item
            img(src='/HDI/side2.png', alt='Second slide')
            // Static Header
            .header-text.hidden-xs
              .col-md-12.text-center
                h2
                  span Welcome to LOREM IPSUM
                br
                h3
                  span Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                br
                div                  
                  a.btn.btn-theme.btn-sm.btn-min-block(href='#' style="background-color:green") Register
            // /header-text
          .item
            img(src='/HDI/side3.png', alt='Third slide')
            // Static Header
            .header-text.hidden-xs
              .col-md-12.text-center
                h2
                  span Welcome to LOREM IPSUM
                br
                h3
                  span Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                br
                div                  
                  a.btn.btn-theme.btn-sm.btn-min-block(href='#' style="background-color:green") Register
          .item
            img(src='/HDI/casas1.png', alt='Third slide')
            // Static Header
            .header-text.hidden-xs
              .col-md-12.text-center
                h2
                  span Welcome to LOREM IPSUM
                br
                h3
                  span Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                br
                div                  
                  a.btn.btn-theme.btn-sm.btn-min-block(href='#' style="background-color:green") Register
            // /header-text
        
      // /carousel










                
    .container
        // Marketing Icons Section
        .row
            .col-lg-12
                h1.page-header
                    | ¿Qué hago en caso de accidente?        
            .col-md-4
                .panel.panel-default
                    .panel-heading                 
                    h6  1. Permanece en calma                
                    .panel-body
                    center
                        img.serv(src="/HDI/icono_meditacion.png", width="80px", height="80px")                              
                        .question
                        h5 Cuando entras en pánico puedes 
                        h5 agravar el problema
            .col-md-4
                .panel.panel-default
                    .panel-heading              
                    h6  2. Revisa si hay heridos
                    .panel-body
                    center
                        img.serv(src="/HDI/icono_lupa.png", width="80px", height="80px")                                                          
                        .question
                        h5 Si es necesario 
                        h5 llama a una ambulancia
            .col-md-4
                .panel.panel-default
                    .panel-heading              
                    h6 3. Reporta tu accidente
                    .panel-body
                    center
                        img(src="/HDI/iphone.png",width="50px", height="80px")  
                        .question
                        h5 Llama a tu aseguradora y 
                        h5 sigue las indicaciones
    .container    
      .row.services
        .col-lg-12
            h1.page-header
                | ¿Ya eres cliente HDI?
        .col-md-4
            .panel.panel-default                          
                .panel-body
                    center
                        img.serv(src="/HDI/casa.jpg" ,width="150px", height="100px" )                              
                        h5.services HDI en mi casa
        .col-md-4
          .panel.panel-default            
            .panel-body
            center
              img.serv(src="/HDI/auto.jpg" ,width="150px", height="100px")                                                          
              h5.services HDI en mi auto
        .col-md-4
          .panel.panel-default            
            .panel-body
            center
              img.serv(src="/HDI/empresa.jpg"  ,width="150px", height="100px")  
              h5.services HDI en mi empresa
    block footer    
              