doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='')
        meta(name='author', content='')   
.container
.login-page    
    .form
        img.img-responsive#login(src="/img/login/login.png")        
        form.login-form(method="POST" action="/cliente/login")
            input(name="correo" type='text', placeholder='username')
            input(name="password" type='password', placeholder='password')
            button login
            p.message
            | Not registered? 
            a(href='#') Create an account
script
    include login.js
style
    include login.css

