<header>
  <div class="container-fluid">
    <img src="../../../assets/img/casa/casa.svg" class="img-fluid">        
  </div>
  
  <div class="auto" style="text-align: center">
    <h2>No importa si <strong style="color: green">rentas</strong> o eres<strong style="color: green"> dueño</strong></h2>
    <p>Tu casa estará protegida por menos de<br>
      lo que pagas por tu seguro de auto</p>
  </div>
</header>

<div class="container" >    
  <img src="../../../assets/img/casa/casa2.png" class="img-fluid">    
</div>
<br><br>
<h4 style="text-align: center">Con las coberturas de<strong style="color: green"> HDI en mi Casa</strong> no tienes que <br>preocuparte por perder lo que más quieres</h4>

<div class="container" >    
  <img src="../../../assets/img/casa/casa3.png" class="img-fluid">    
</div>
<br><br> 

<div class="auto" style="text-align: center; background-color: #F2F2F2"><br><br>
  <h2>Contarás con <strong style="color: green">más de 13 coberturas</strong></h2><br><br>
</div>
<br><br>

<div class="auto" style="text-align: center; background-color: #F2F2F2"><br><br>
  <h2>Sé el primero de tus amigos<br> en tener <strong style="color: green">HDI en mi casa</strong></h2>
  <a class="btn btn-success" href="#" role="button"><strong>Cotiza ahora</strong></a><br><br>
</div>
<br>

<div class="auto" style="text-align: center">
  <h2>¿Eres de los que en verdad le importa su casa <br>y quieres beneficios extra?  <strong style="color: green">Conoce nuestros Módulos</strong></h2>    
</div>
        
<div class="container-fluid"  style="text-align: right" style="text-align: right">
  <div class="row">
    <div class="col-6">
      <br><br><br><br>
      <img src="../../../assets/img/casa/casa5.svg" height="68px" width="46px"><strong style="font-size: 30px; color: green">A Donde Vaya</strong> <br>
      <strong><h2><strong>Dentro o fuera de tu casa<br>tus cosas estarán protegidas</strong></h2></strong>
      <p style="text-align: right">Tu celular, laptop y otras pertenencias estarán<br>protegidas en cualquier lugar, además contarás<br>con asistencia en viajes y viajes ejecutivos</p>            
    </div>
    
    <div class="col-6">
      <img src="../../../assets/img/casa/casa4.jpg" class="img-fluid">
    </div>
  </div>
</div>   

<div class="container-fluid ">
  <div class="row">
    <div class="col-6" style="text-align: left">
      <img src="../../../assets/img/casa/casa6.jpg" class="img-fluid">            
    </div>

    <div class="col-6">
      <br><br><br><br>
      <img src="../../../assets/img/casa/casa7.svg" height="68px" width="46px"><strong style="font-size: 30px; color: green">Me Siento Bien</strong> <br>            
      <strong><h2><strong>Nos preocupamos por tu<br>bienestar y el de tu familia</strong></h2></strong>
      <p style="text-align: left">No importa si el accidente pasó fuera de tu casa,<br>tu familia estará protegida, además contarás con<br>asistencia médica y cobertura dental</p>                
    </div>
  </div>
</div>  

<div class="auto" style="text-align: center; background-color: #F2F2F2"><br><br>
  <img src="../../../assets/img/casa/cotiza.png">
  <h2>Protege tu hogar con<strong style="color: green">HDI en mi casa</strong></h2>
  <a class="btn btn-success" href="#" role="button"><strong>Cotiza ahora</strong></a><br><br>
</div>
<br>

<div class="auto" style="text-align: center">
    <h2>¿Ya eres cliente <strong style="color: green">HDI</strong>?</h2>    
    <a class="btn btn-success" href="#" role="button"><strong>Inicia sesión</strong></a><br><br>
</div>