
/* cambiar el color de fondo a la barra */
#DivisorDesplegable{
    z-index:100;  
}

/*.glyphicon-user {
    color:yellow;
  }*/
  .caret-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}



.adaptar
{
    width: 100%;
}

.logo {
    opacity: 0.7;
    
}
.footer{background-color: #212121; color: white; }