<div fxLayout="row" fxLayoutAlign="space-around center"> <!-- from select -->
        <mat-card>
        <mat-card-title>Seleccione la marca de su auto</mat-card-title>
        <mat-card-content>
          <mat-form-field>
            <mat-select placeholder="Auto" [(ngModel)]="name">
              <mat-option *ngFor="let auto of autos" [value]="auto._id" (click)="onClick(auto._id)" (click)="onyear(auto._id)" >
                {{ auto.make }}
              </mat-option>              
            </mat-select>            
          </mat-form-field>
          <br>
          <mat-form-field>
          <mat-select placeholder="Modelo" [(ngModel)]="model">
              <mat-option *ngFor="let model of models" [value]="model._id">
                  {{ model.model }}
                </mat-option>
              </mat-select>
          </mat-form-field>
         <br>
         <mat-form-field>
                <mat-select placeholder="año">
                     <mat-option *ngFor="let year of years" [value]="year._id">
                  {{ year.year}}
                </mat-option>
              </mat-select>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="cotiza()"> Cotizar </button>
        </mat-card-actions>
        </mat-card>
 </div>