.parallax_section{
	height: 600px;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
  	background-position: 100% auto;
		position:relative;
}

.parallax_image_first{
    background-image: url("../../../assets/images/backgroud_cotiza.jpg");
}
.parallax_image_second{
    background-image: url("../../../assets/images/backgroud_cotiza2.jpg");
}