<div fxLayout="row" fxLayoutAlign="center center">
    <form>
        <mat-form-field >
            <mat-label>Sugerencia</mat-label>
            <textarea  matInput placeholder="Sugerencia" rows="10" required></textarea>
            <mat-icon matSuffix style="color: green">message</mat-icon>                          
          </mat-form-field>
          <div>
              <button mat-raised-button color="primary" type="submit">Enviar</button>
          </div>                        
        </form> 
        
        


       
          
      </div>
    