<div fxLayout="row" fxLayoutAlign="center center" >                                            
    <form>
        <mat-form-field >
            <mat-label>Número de póliza</mat-label>
            <textarea  matInput placeholder="Número de póliza"  rows="10"required></textarea>
            <mat-icon matSuffix>book</mat-icon>                          
          </mat-form-field>
          <div>
              <button mat-raised-button color="primary" type="submit">Enviar</button>
          </div>                        
        </form> 
        
        


       
          
      </div>
    