<div fxLayout="row" fxLayoutAlign="center none"  style="width: 100%" >
<table id="customers" style="text-align: center">
        <thead>
            <tr>     
                <th>Número de póliza</th>
                <th>Tipo de seguro</th>
                <th>Vigencia</th>
                <th>Fecha de contratación</th>
                <th>Agente</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>                            				
            <tr>   
                <td>Martin Blank</td>
                <td>martinblank@mail.com</td>
                <td>Via Monte Bianco 34, Turin, Italy</td>
                <td>(480) 631-2097</td>
                <td>(480) 631-2097</td>
                <td><mat-icon>visibility</mat-icon></td>
            </tr> 
        </tbody>
      </table>
      </div>