<header>
  <div class="container-fluid" style="text-align: center">    
      <p><img src="../../../assets/img/about/about1.png" class="img-fluid"></p>
  </div>    
  <div class="auto" style="text-align: center">
    <h2>Somos el único seguro que te protegerá <br>a ti <strong style="color: green">y a todas tus cosas</strong></h2>          
  </div>  
  <p style="text-align: center">Tú, tu familia, tu auto, tu casa y tu empresa<br> siempre estarán protegidos</p>
</header>

<div class="container" >    
    <img src="../../../assets/img/about/about2.png" class="img-fluid">    
</div>  <br><br>
                  
  
  
<div class="container" style="text-align: center">
  <h2>¿Qué es lo <strong style="color: green">que  nos motiva?</strong></h2>
  <p>Queremos ser diferentes, por eso nos enfocamos en crear<br> los mejores productos para ti</p>
</div>


  
<div class="container marketing">
    <div class="row" style="text-align: center">
      <div class="col-lg-4">
        <img class="rounded-circle center" src="../../../assets/img/about/eco.png" alt="Generic placeholder image" width="140" height="140">
        <h5>Eco-Ajustador</h5>
        <p>Creamos una manera ecológica de<br>
            atender accidentes automovilísticos<br>
            más rápido</p>
        
      </div><!-- /.col-lg-4 -->
    
      <div class="col-lg-4" layout-align="center center">
        <img class="rounded-circle center" src="../../../assets/img/about/mod.png" alt="Generic placeholder image" width="140" height="140">
        <h5>Módulos</h5>
        <p>Creamos beneficios extra para que<br>
            puedas usar tu seguro sin<br>
            necesidad de un accidente</p>
        
      </div><!-- /.col-lg-4 -->
      
      <div class="col-lg-4">
        <img class="rounded-circle center" src="../../../assets/img/about/pymes.png" alt="Generic placeholder image" width="140" height="140">
        <h5>Innovación</h5>
        <p>Creamos productos dirigidos para ti,<br>
            te escuchamos y conocemos lo<br>
            que necesitas</p>       
      </div>  
    </div>
    </div>
    <br><br>





    <div class="container" style="text-align: center">
        <h2><strong style="color: green">Nuestra experiencia</strong></h2>
        <p>Hemos estado creciendo mucho desde que llegamos a<br> México y vamos a continuar haciéndolo</p>
      </div>
      
      
        
      <div class="container marketing">
          <div class="row" style="text-align: center">
            <div class="col-lg-4">
              <img class="rounded-circle center" src="../../../assets/img/about/ninio.png" alt="Generic placeholder image" width="140" height="140">
              <h5>7 años en el mercado, <br> aún somos jóvenes</h5>                      
            </div><!-- /.col-lg-4 -->
          
            <div class="col-lg-4" layout-align="center center">
              <img class="rounded-circle center" src="../../../assets/img/about/multitud.png" alt="Generic placeholder image" width="140" height="140">
              <h5>Más de 600 mil de<br>asegurados y queremos más</h5>                        
            </div><!-- /.col-lg-4 -->
            
            <div class="col-lg-4">
              <img class="rounded-circle center" src="../../../assets/img/about/logros.png" alt="Generic placeholder image" width="140" height="140">
              <h5>30 premios y no son<br>suficientes para nosotros</h5>                   
            </div>  
          </div>
          </div>
        
          <br><br>
          <div class="container" style="text-align: center">
              <h2>Encuentra tu <strong style="color: green">seguro HDI</strong> ideal</h2>
              <p>De todos nuestros productos, seguro encuentras alguno<br> que se adapte a ti</p>
            </div>
                                    
            <div class="container marketing">
                <div class="row" style="text-align: center">
                  <div class="col-6">
                    <img class="rounded-circle center" src="../../../assets/img/about/auto.jpg" alt="Generic placeholder image" width="140" height="140">
                    <h5><strong style="color: green">HDI </strong> en mi <strong style="color: green">casa </strong> </h5>                      
                  </div><!-- /.col-lg-4 -->
                
                  <div class="col-6" layout-align="center center">
                    <img class="rounded-circle center" src="../../../assets/img/about/casa.jpg" alt="Generic placeholder image" width="140" height="140">
                    <h5><strong style="color: green">HDI </strong> en mi <strong style="color: green">auto </strong> </h5>                      
                  </div><!-- /.col-lg-4 -->
                  
                  
                </div>
                </div>