<header>
  <div class="container-fluid">    
  </div>
  <div class="auto" style="text-align: center">
    <h2>Queremos <strong style="color: green">escucharte</strong></h2>
    <p>Tu opinión es muy importante para nosotros, elige la opción adecuada y envíanos tu<br>
      mensaje, nosotros nos pondremos en contacto contigo</p>
  </div>
</header><br><br>
  
<div class="container marketing">
    <div class="row" style="text-align: center">
      <div class="col">
        <img class="rounded-circle center" src="../../../assets/img/contacto/hdi1.png" alt="Generic placeholder image" width="120" height="120">
        <h5>Sugerencias</h5>
        <p>Dejanos algún mensaje o <br>sugerencia, estamos<br> interesados en tu opinión</p>
        <a href="#"><h6 style="color: green">Llenar reporte</h6></a>
      </div><!-- /.col-lg-4 -->
    
      <div class="col" layout-align="center center">
        <img class="rounded-circle center" src="../../../assets/img/contacto/hdi2.png" alt="Generic placeholder image" width="120" height="120">
        <h5>¿Están fallando?</h5>
        <p>Reporta cualquier incidente<br> durante el uso de<br> alguno de nuestros servicios</p>
        <a href="#"><h6 style="color: green">Llenar reporte</h6></a>
      </div><!-- /.col-lg-4 -->
      
      <div class="col">
        <img class="rounded-circle center" src="../../../assets/img/contacto/hdi3.png" alt="Generic placeholder image" width="120" height="120">
        <h5>Laboral</h5>
        <p>Reporta cualquier<br> irregularidad laborando en<br> HDI Seguros México</p>       
        <a href="#"><h6 style="color: green">Llenar reporte</h6></a>
      </div>  

      <div class="col">
        <img class="rounded-circle center" src="../../../assets/img/contacto/hdi4.png" alt="Generic placeholder image" width="120" height="120">
        <h5>Fraude</h5>
        <p>Reporta cualquier situación<br> de fraude, corrupción o <br>ilegalidad que hayas<br> presenciado</p>       
        <a href="#"><h6 style="color: green">Llenar reporte</h6></a>
      </div>  
    </div>
    </div>
    <br><br>
