.navbar-custom {
    background-color: white;
    opacity: .9;
}
.navbar-custom ul li a{
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar-light .navbar-toggler-icon {
    /*background-image: url("data:image/svg+xml;..");*/
  }
.navbar-toggler {
    /*border-color:black;*/
}
.navbar-toggler-icon img{
    height: 100%;
    width: 100%;
}
.container{
width:85%;
}

.example-spacer {
    flex: 1 1 auto;
  }
.left
{
    padding-left: 0;
}
.flex
{
    flex: 1 1 auto;
}
.separador
{
    margin-right: 30px;
}
.separador2
{
    margin-right: 50px;
}