<mat-toolbar class="main-header" color="primary">
    <button (click)="toggleSidenav.emit()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <div class="branding">
      <div class="logo"></div>
    </div>
   
    <button (click)="toggleNotificationSidenav.emit()" mat-icon-button class="ml-xs overflow-visible">
      <mat-icon>notifications</mat-icon>
      <span class="notification-label">5</span>
    </button>
    <button [matMenuTriggerFor]="user" mat-icon-button class="ml-xs">
      <mat-icon>person</mat-icon>
    </button>
    <div mat-icon-button > te la comes</div>
    <button mat-icon-button >
      <mat-icon>phone</mat-icon>
    </button>
    <button mat-icon-button >
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #user="matMenu" x-position="before">
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        Settings
      </button>
      <button mat-menu-item>
        <mat-icon>account_box</mat-icon>
        Profile
      </button>
      <button mat-menu-item>
        <mat-icon>account_box</mat-icon>
        Profile
      </button>
      <div mat-menu-item> hola </div>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        Disable notifications
      </button>
      <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        Sign Out
      </button>
    </mat-menu>
  </mat-toolbar>
  