
  <nav class="navbar navbar-expand-lg navbar-custom fixed-top">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/inicio']"><img src="../../assets/img/logo.png" height="40px" width="40px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><img src="../../../../assets/img/navbar-toggler-icon.png"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/autos']">Autos <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/casa']">Casa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/about']">Acerca de HDI</a>
      </li>
      <li class="nav-item">
          
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Servicios
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/siniestro']">Siniestro</a>          
            <a class="dropdown-item" href="#">Pago de pólizas</a>                      
            
            <a class="dropdown-item" href="#">Cotizador</a>          
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Autos</a>
            <a class="dropdown-item" href="#">Casa</a>
        </div>
      </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/session/signin']">Ingreso cliente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/casa']">Ingreso personal</a>
        </li>
      
    </ul>    
  </div>
</div>
</nav>
