<footer id="myFooter">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h2 class="logo"><a [routerLink]="['/inicio']"><img src="../../../../assets/img/logo.png" class="img-fluid"> </a></h2>
            </div>
            <div class="col-sm-2">
                <h5>Servicios</h5>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Iniciar sesión como cliente</a></li>
                    <li><a href="#">Iniciar sesión como personal</a></li>
                    <li><a href="#">HDI contigo</a></li>                    
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>Servicios</h5>
                <ul>
                    <li><a href="#">Siniestro de HDI</a></li>
                    <li><a href="#">Pagar póliza</a></li>
                    <li><a href="#">Reviews</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>Support</h5>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Help desk</a></li>
                    <li><a href="#">Forums</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <div class="social-networks">
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                </div>
                <button type="button" class="btn btn-default">Contact us</button>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>© 2016 Copyright Text </p>
    </div>
</footer>