<header>
  <div class="container-fluid"  style="text-align: right" style="text-align: right">
      <div class="row">
        <div class="col-6">
          <img src="../../../assets/img/hdicontigo/hdi1.png" class="img-fluid">
        </div>
        <div class="col-6">
          <br><br><br><br>            
          <h2><strong>¿Qué hago en caso de<br> robo o accidente</strong></h2>
          <p style="text-align: center">Llámanos! Repórtalos de inmediato<br>
          <strong style="color: green">*HDI(434)></strong></p>
        </div>
        
     
      </div>
    </div> 
</header> 
  
<div class="container" style="text-align: center">
  <h2> Te sugerimos <strong style="color: green">seguir</strong> estos pasos</h2>     
</div>
                        
<div class="container marketing">
    <div class="row" style="text-align: center">
      <div class="col-lg-4">
        <img class="rounded-circle center" src="../../../assets/img/hdicontigo/hdi2.png" alt="Generic placeholder image" width="140" height="140">
        <h5>Tener tu póliza a la mano </h5>  
        <p>Ubica tu número de póliza<br>
            Consúltalo en HDI Contigo</p>                    
      </div><!-- /.col-lg-4 -->
    
      <div class="col-lg-4" layout-align="center center">
        <img class="rounded-circle center" src="../../../assets/img/hdicontigo/hdi3.png" alt="Generic placeholder image" width="140" height="140">
        <h5>¡No moverte! </h5>    
        <p>Quédate en el lugar del accidente<br>
            y mantén la calma</p>                  
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-4" layout-align="center center">
          <img class="rounded-circle center" src="../../../assets/img/hdicontigo/hdi4.png" alt="Generic placeholder image" width="140" height="140">
          <h5>Espera al ajustador </h5>                      
          <p>Evita hacer arreglos, nosotros<br>
              resolveremos la situación</p>
        </div><!-- /.col-lg-4 -->
      
      
    </div>
    </div>